/* You can add global styles to this file, and also import other style files */

html, body, .main-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


.swiperight {
    animation: rightswipe 250ms;
}

.swipeleft {
    animation: leftswipe 250ms;
}

@keyframes rightswipe {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
        transform: translateX(16px);
    }
}

@keyframes leftswipe {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
        transform: translateX(-16px);
    }
}